.pet {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.name {
    text-align: center;
    display: block;
    background-color: cornflowerblue;
    color: black;
}

.level {
    font-size: 80%;
    text-align: center;
}

.energy {
    display: block;
    margin: 0 auto;
    background-color: gold;
    border-radius: 3px;
    padding: 0 0.5em;
    font-size: 80%;
}

.layered-images {
    position: relative;
    width: 100px;
    height: 100px;
}

.layered-images img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}