.ribbon {
    position: relative;
    text-align: center;
}

.left,.right {
    position: absolute;
    height: 1em;
    top: -3px;
    width: 6px;
    filter: brightness(80%);
}

.left {
    left: -3px;
}

.right {
    right: -3px;
}

.label {
    position: relative;
}