header {
    display: block;
    background-color: #225588;
    color: #fff;
    position: sticky;
    top: 0;
}

header > div {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 1rem;
    background-color: #336699;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.hamburger {
    background: transparent;
    padding: 0;
    margin-left: auto;
}