header {
    display: block;
    background-color: #225588;
    color: #fff;
    position: sticky;
    top: 0;
}

header > div {
    margin: 0 auto;
    max-width: var(--content-width);
    padding: 1rem;
    background-color: #336699;
    box-sizing: border-box;
}

.logged-in-nav {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.logged-in-nav ul {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    margin: 0;
}

.logged-in-nav ul a {
    color: white;
}