@page "/about"

<PageTitle>Rpg Game - About</PageTitle>

<h1>About Rpg Game</h1>

<p>Rpg Game is an open-source browser game template to help you get started making your own browser-based game.</p>
<p>Examples of such games include:</p>
<ul>
    <li><a href="https://poppyseedpets.com">Poppy Seed Pets</a> (I made this one!)</li>
    <li><a href="https://www.kingdomofloathing.com/">Kingdom of Loathing</a></li>
    <li><a href="https://candybox2.github.io/candybox/">Candy box!</a></li>
</ul>
<p>Rpg Game doesn't want to assume what kind of game YOU want to make, so comes with very few features. But don't worry: I have an ongoing YouTube series showing you how to add all kinds of features to Rpg Game. Pick-and-choose the features you want, and learn how to code along the way!</p>
<ul>
    <li><a href="https://www.youtube.com/playlist?list=PLMzQZ9sF5S2Har871zlqm9t0nip9OvYDB">Full playlist of videos</a>, including:</li>
    <li><a href="https://www.youtube.com/watch?v=W0zkfpgLcjw&list=PLMzQZ9sF5S2Har871zlqm9t0nip9OvYDB&index=12">Adding Money and a Pet Store</a></li>
    <li><a href="https://www.youtube.com/watch?v=-EtgfwuxuO4&list=PLMzQZ9sF5S2Har871zlqm9t0nip9OvYDB&index=7">Adding Font Awesome (2000+ free-to-use icons)</a></li>
    <li><a href="https://www.youtube.com/watch?v=-HLQ1BO58do&list=PLMzQZ9sF5S2Har871zlqm9t0nip9OvYDB&index=2">Adding Daily Rewards</a></li>
</ul>