@page "/log-in"

<PageTitle>Rpg Game - Log In</PageTitle>

<h1>Log In</h1>

@* LogInForm looks like an HTML tag, but it's a custom component that comes with RpgGame. To see what it does, 
   right-click on LogInForm, below, and select the option similar to "go to declaration" (the exact text depends
   on whether you're using Visual Studio, Rider, vscode, or some other IDE) *@
<LogInForm />