@page "/"

<PageTitle>Pet Game</PageTitle>

<h1>A Blank Pet Game</h1>

<p>Welcome to my pet game!</p>

<ul>
    <li><a href="/sign-up">Sign up!</a></li>
    <li><a href="/players">View all players</a></li>
</ul>