.pets
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.pets > div {
    position: relative;
}

.level-up {
    position: absolute;
    top: 0;
    right: 0;
    background-color: goldenrod;
}