@using PetGame.Database
@using PetGame.Services
@using Microsoft.EntityFrameworkCore
@using PetGame.Database.Tables
@using PetGame.Dialogs
@using PetGame.Functions

@page "/my-house"
@attribute [Authorize]

<PageTitle>Pet Game - My House</PageTitle>

<h1>My House</h1>

@if (MyPets == null)
{
    <p><em>Loading pets...</em></p>
}
else
{
    <div class="pets">
        @foreach (var pet in MyPets)
        {
            <div>
                <PetCard
                    Image="@pet.Image"
                    Name="@pet.Name"
                    Level="pet.Level"
                    Energy="pet.Energy"
                />
                <button type="button" @onclick="() => DoFeed(pet.Id)">Feed</button>
                <button type="button" @onclick="() => DoExplore(pet.Id)">Explore</button>
            </div>
        }
    </div>
}

@code {

    [CascadingParameter] public IModalService Modals { get; set; } = null!;
    [Inject] public IDbContextFactory<PetGameDatabase> DbFactory { get; set; } = null!;
    [Inject] public CurrentPlayer Player { get; set; } = null!;

    private List<Pet>? MyPets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadPets();
    }

    private async Task LoadPets()
    {
        await using var db = await DbFactory.CreateDbContextAsync();

        MyPets = await db.Pets
            .Where(p => p.OwnerId == Player.Info!.Id)
            .ToListAsync();
    }

    private async Task DoFeed(long petId)
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        var resultMessage = await PetFeeding.Feed(db, Player.Info!.Id, petId);
        await db.SaveChangesAsync();

        Alert.Show(Modals, resultMessage.Title, resultMessage.Message);

        await LoadPets();
    }

    private async Task DoExplore(long petId)
    {
        await using var db = await DbFactory.CreateDbContextAsync();

        var pet = await db.Pets.FirstOrDefaultAsync(x => x.Id == petId && x.OwnerId == Player.Info!.Id);
        
        if(pet == null)
        {
            Alert.Show(Modals, "Oops!", "Pet not found!");
            return;
        }

        if(pet.Energy < 1)
        {
            Alert.Show(Modals, "Oops!", "Pet is out of energy!");
            return;
        }

        pet.Energy--;

        // TODO: make your own game! :P
        var description = Random.Shared.Next(3) switch
        {
            1 => await SomethingHappens(pet),
            2 => await SomethingAwesomeHappens(pet),
            _ => await NothingHappens(pet),
        };

        Alert.Show(Modals, "Explore Results", description);

        await db.SaveChangesAsync();

        await LoadPets();
    }

    private async Task<string> SomethingHappens(Pet pet)
    {
        pet.GainExperience(4);

        return "Your pet found something noteworthy! +4 experience points!";
    }

    private async Task<string> SomethingAwesomeHappens(Pet pet)
    {
        pet.GainExperience(10);

        return "Your pet found something rad! +10 experience points!";
    }

    private async Task<string> NothingHappens(Pet pet)
    {
        pet.GainExperience(1);

        return "Your pet went out, but didn't find anything... +1 experience point for the effort.";
    }
}